[user]
    name = biswa-wsl
    email = biswajit.p@outlook.com
[core]
    editor = nvim
    autocrlf = false
[init]
    defaultBranch = main
[pull]
    rebase = false
[pager]
    branch = false
    stash = false
    diff = false
  status = false
